# Server Environment Variables

# Erlaubte CORS Origins (kommasepariert)
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Server Port
PORT=3000

# Node Environment (development, production)
NODE_ENV=development
